<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--7 页脚菜单栏-->
<div class="menu" id="menu_div">
    <div class="col-xs-4 menu-item active-menu-item" onclick="location.href='/'">
        <div class="glyphicon glyphicon-home"></div>
        <div>首页</div>

    </div>
    <div class="col-xs-4 menu-item" onclick="location.href='/cart/choiceBall'">
        <div class="glyphicon glyphicon-shopping-cart"></div>
        <div>购物车</div>
    </div>
    <div class="col-xs-4 menu-item" onclick="location.href='/user/userUI'">
        <div class="glyphicon glyphicon-user"></div>
        <div >用户</div>
    </div>

</div>

</body>
</html>